*.sa
*.isa
*.lcp
*.idxs
.cache
.vscode/
coverage.info
coverage/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl
DerivedData/
StrAlg.build/
StrAlg.xcodeproj/
stralg/Debug/
stralg/Release
stralg/StrAlg.build/
stralg/libstralg.dylib
tests/Debug/
tests/StrAlg.build/
tests/match_test
tests/queue_test
tests/trie_test
tests/aho_corasick_test
tests/edit_distance_generator_test
tests/string_vector_test
tests/pair_stack_test
tests/suffix_array_test
tests/sa_bsearch_bug
tools/Debug/
tools/Release
bioinf/Debug
tools/edit_cloud/edit_cloud
tools/display_match/display_match
tools/display_trie/display_trie
tools/display_match/Debug/
tools/edit_cloud/Debug/
tools/display_trie/Debug/
build/
tests/fasta_test
tests/fastq_iterator_test
bioinf/libstralg_bioinf.dylib
tools/display_suffix_tree/Debug/
tools/display_suffix_tree/display_suffix_tree
tools/display_suffix_tree/tree.dot
tools/display_suffix_tree/tree.pdf
tests/suffix_tree_test
tests/test-data/suffix-tree-test-observed.txt
tools/exact_readmapper/Debug
makebuild
xcodebuild
tests/vector_test
tests/approx_match_test
tests/suffix_tree_match_test
tools/st_build_lcp/st_build_lcp
tests/tree.dot
tests/remap_test
tests/bwt_test
tests/cigar_test
tests/string_utils_test
naive-tree.*
tests/naive-tree.*tools/exact_readmapper/exact_readmapper
tests/serialise_test
tests/test-trie.dot
tools/exact_readmapper/exact_readmapper
tests/stralg/vector_test
tests/stralg/trie_test
tests/stralg/tree.dot
tests/stralg/test-trie.dot
tests/stralg/suffix_tree_test
tests/stralg/suffix_tree_match_test
tests/stralg/suffix_array_test
tests/stralg/string_utils_test
tests/stralg/serialise_test
tests/stralg/remap_test
tests/stralg/queue_test
tests/stralg/match_test
tests/stralg/edit_distance_generator_test
tests/stralg/cigar_test
tests/stralg/bwt_test
tests/stralg/approx_match_test
tests/stralg/aho_corasick_test
tests/bioinf/test-data/fasta-test-observed.txt
tests/bioinf/fastq_iterator_test
tests/bioinf/fasta_test
tests/iterators/st_iterator_test
tools/readmappers/bwt_readmapper/bwt_readmapper
tools/readmappers/exact_readmapper/exact_readmapper
tools/readmappers/scripts/.Rproj.user/B0AD098A/rmd-outputs
tools/readmappers/scripts/.Rproj.user/B0AD098A/saved_source_markers
tools/readmappers/scripts/.Rproj.user/B0AD098A/console06/INDEX001
tools/readmappers/scripts/.Rproj.user/B0AD098A/pcs/files-pane.pper
tools/readmappers/scripts/.Rproj.user/B0AD098A/pcs/source-pane.pper
tools/readmappers/scripts/.Rproj.user/B0AD098A/pcs/windowlayoutstate.pper
tools/readmappers/scripts/.Rproj.user/B0AD098A/pcs/workbench-pane.pper
tools/readmappers/scripts/.Rproj.user/B0AD098A/rmd-outputs
tools/readmappers/scripts/.Rproj.user/B0AD098A/saved_source_markers
tools/readmappers/scripts/.Rproj.user/B0AD098A/sources/per/t/1C801F8D
tools/readmappers/scripts/.Rproj.user/B0AD098A/sources/per/t/1C801F8D-contents
tools/readmappers/scripts/.Rproj.user/B0AD098A/sources/prop/BC17D8AE
tools/readmappers/scripts/.Rproj.user/B0AD098A/sources/prop/INDEX
tools/readmappers/scripts/.Rproj.user/B0AD098A/viewer-cache/46868B75.Rdata
tools/readmappers/scripts/.Rproj.user/shared/notebooks/patch-chunk-names
tools/readmappers/scripts/.Rproj.user/shared/notebooks/paths
tools/readmappers/data/genomes/test.fa.bwttables
*.bwttables
old-fasta.c
old-fasta_test.c
tools/readmappers/bwt.sam
tools/readmappers/exact.sam
tests/stralg/dot.pdf
tests/stralg/st_suffix_links_test
tests/stralg/tree.pdf
tree.dot
tree.pdf
makefilebuild/
.Rproj.user
performance/suffix_tree_construction
performance/suffix_tree_construction.txt
performance/suffix_array_construction
tools/evaluation-approximative.log
tools/evaluation-report-approximative.txt
tools/evaluation-exact.log
tools/evaluation-report-approximative.txt.bak
tools/evaluation-report-exact.txt
tools/evaluation-report-exact.txt.bak
tools/test-report.txt
tools/test.log
tools/readmappers/ac_readmapper-approx.sam
tools/readmappers/bw_readmapper-approx.sam
tools/readmappers/logs/BWT.map.log
tools/readmappers/logs/BWT.preprocess.log
tools/readmappers/logs/BWT.sam
tools/readmappers/logs/Exact.map.log
tools/readmappers/logs/Exact.preprocess.log
tools/readmappers/logs/Exact.sam
tools/readmappers/logs/reference.sam
performance/bwt_construction
performance/.Rhistory
performance/bwt_search
tests/stralg/border_test
tests/stralg/ea_suffix_tree_match_test
tests/stralg/ea_suffix_tree_test
performance/Adding arrays times.pdf
performance/LCP comparisons.pdf
performance/All linked lists times.pdf
performance/Linked lists without naive equal.pdf
performance/m dependency linear algorithms.pdf
performance/m dependency quadratic algorithms.pdf
performance/Match search dependency on m.pdf
performance/Match search overall.pdf
tools/readmappers/logs/Aho-Corasick.map.log
tools/readmappers/logs/Aho-Corasick.preprocess.log
tools/readmappers/logs/Aho-Corasick.sam
tools/readmappers/logs/reference.log
tools/readmappers/scripts/logs/BWT.preprocess.log
tools/readmappers/scripts/logs/Exact.preprocess.log
performance/Approx matching comparison.pdf
performance/BWT construction time comparison.pdf
tools/readmappers/data/1
tools/readmappers/data/2
tools/readmappers/data/preprocessing-report.txt
tools/readmappers/data/preprocessing.log
tools/readmappers/data/readmapping-report.txt
tools/readmappers/data/readmapping.log
tools/readmappers/data/time.txt
tools/readmappers/data/genomes/hg38-1000.fa.amb
tools/readmappers/data/genomes/hg38-1000.fa.ann
tools/readmappers/data/genomes/hg38-1000.fa.bwt
tools/readmappers/data/genomes/hg38-1000.fa.pac
tools/readmappers/data/genomes/hg38-1000.fa.sa
tools/readmappers/data/genomes/hg38-10000.fa.amb
tools/readmappers/data/genomes/hg38-10000.fa.ann
tools/readmappers/data/genomes/hg38-10000.fa.bwt
tools/readmappers/data/genomes/hg38-10000.fa.pac
tools/readmappers/data/genomes/hg38-10000.fa.sa
tools/readmappers/data/genomes/hg38-100000.fa.amb
tools/readmappers/data/genomes/hg38-100000.fa.ann
tools/readmappers/data/genomes/hg38-100000.fa.bwt
tools/readmappers/data/genomes/hg38-100000.fa.pac
tools/readmappers/data/genomes/hg38-100000.fa.sa
tools/readmappers/data/genomes/hg38-1000000.fa.amb
tools/readmappers/data/genomes/hg38-1000000.fa.ann
tools/readmappers/data/genomes/hg38-1000000.fa.bwt
tools/readmappers/data/genomes/hg38-1000000.fa.pac
