.vscode/
coverage.info
coverage/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl
DerivedData/
StrAlg.build/
StrAlg.xcodeproj/
stralg/Debug/
stralg/Release
stralg/StrAlg.build/
stralg/libstralg.dylib
tests/Debug/
tests/StrAlg.build/
tests/match_test
tests/queue_test
tests/trie_test
tests/aho_corasick_test
tests/edit_distance_generator_test
tests/string_vector_test
tests/pair_stack_test
tests/suffix_array_test
tests/sa_bsearch_bug
tools/Debug/
tools/Release
bioinf/Debug
tools/edit_cloud/edit_cloud
tools/display_match/display_match
tools/display_trie/display_trie
tools/display_match/Debug/
tools/edit_cloud/Debug/
tools/display_trie/Debug/
build/
tests/fasta_test
tests/fastq_iterator_test
bioinf/libstralg_bioinf.dylib
